.header {
  width: 100%;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.logo {
  font-weight: 600;
  font-size: 20px;
}
.header_menu a {
  text-decoration: none;
}

.presentaion {
  margin: 50px 0;
  background: url("../../img/house.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 500px;
  background-blend-mode: multiply;
  background-color: #dcdcdc;
  position: relative;
}
.presentaion::after {
  content: "просто  текст на банер";
  position: absolute;
  top: 15%;
  left: 6%;
  width: 360px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.presentaion::before {
  content: "еще текстовый текст";
  position: absolute;
  top: 50%;
  left: 6%;
  width: 360px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 768px) {
  .header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
  }
}
